*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   min-height: 100vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #333;
   font-family: cursive, sans-serif;
}
h1 {
   color: #fff;
   margin: 20px 0;
}
.progress {
   height: 5px;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
}
.progress--bar {
   background-color: #00ff00;
   height: 100%;
   transition: all ease 0.5s;
}
.questionArea,
.scoreArea {
   display: none;
}
.questionArea {
   max-width: 500px;
   width: 100%;
}
.question {
   color:#fff;
   font-size: 18px;
   margin: 20px 0;
}
.option {
   display: flex;
   align-items: center;
   height: 40px;
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   margin-bottom: 5px;
   color: #aaa;
   font-size: 16px;
   cursor: pointer;
}
.option span {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   border-radius: 15px;
   margin-left: 5px;
   margin-right: 10px;
   background-color: rgba(0, 0, 0, 0.8);
   color: #555;
}
.option:hover {
   background-color: rgba(0, 0, 0, 0.2);
}
.scoreArea {
   background-color: rgba(255, 255, 255, 0.5);
   padding: 20px;
   border-radius: 20px;
   margin: 10px;
   text-align: center;
}
.prizeImage {
   width: auto;
   height: 100px;
   margin-bottom: 10px;
}
.scoreText1 {
   color: #000;
   font-size: 23px;
   font-weight: bold;
   margin-bottom: 10px;
}
.scorePct {
   color: #0d630d;
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 10px;
}
.scoreArea button {
   border: 0;
   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.5);
   columns: #ccc;
   padding: 10px;
   margin-top: 20px;
   cursor: pointer;
   color: #fff;
}
.scoreArea button:hover {
   background-color: rgba(0, 0, 0, 0.4);
}
footer {
   margin-top: 20px;
   color: #fff;
   font-size: 13px;
}



/* loader */

section h1{
   display: flex;
   justify-content: center;
   align-items: center;
   animation: animationhue 1s linear infinite;
   padding: 35px;
}
@keyframes animationhue
{
   0%{
      filter: hue-rotate(0deg);
   }
   100%{
      filter:hue-rotate(360deg)
   }
}
section .loader {
   position:relative;
   width: 100px;
   height: 100px;
   margin-bottom: 70px;
}
section .loader span {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: rotate(calc(18deg *var(--i)));
}
section .loader span:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 15px;
height: 15px;
border-radius: 50%;
background: #00ff0a;
box-shadow: 
0 0 10px #00ff0a,
0 0 20px #0800ff,
0 0 40px #ff00e1,
0 0 60px #00ff0a,
0 0 80px #00ff0a,
0 0 100px #00ff0a;
animation:
animate 2s linear infinite;
animation-delay: calc(0.1s *var(--i))
}
@keyframes animate {
   0%{
      transform: scale(1);
   }
   80%,100%{
      transform: scale(0);
   }
}
